{
  "env": {
    "development": {
      "presets": ["@babel/preset-react",
                  {"plugins":["@effectful/es-persist-serialization/transform",
                              "@babel/plugin-syntax-async-generators",
                              "@babel/plugin-proposal-object-rest-spread"]}]
    },
    "production": {
      "presets": ["@babel/preset-react",
                  {"plugins":["@effectful/es-persist-serialization/transform",
                              "@babel/plugin-syntax-async-generators",
                              "@babel/plugin-proposal-object-rest-spread"]}]
    },
    "es": {
      "presets": ["@babel/preset-react"],
      "plugins":["@babel/plugin-proposal-object-rest-spread",
                 "@babel/plugin-syntax-async-generators"]
    },
    "test": {
      "presets": ["@babel/preset-react",
                  {"plugins":["@effectful/es-persist-serialization/transform",
                              "@babel/plugin-syntax-async-generators",
                              "@babel/plugin-transform-modules-commonjs",
                              "@babel/plugin-proposal-object-rest-spread"]}]
    },
    "testES": {
      "presets": ["@babel/preset-react"],
      "plugins":["@babel/plugin-proposal-object-rest-spread",
                 "@babel/plugin-syntax-async-generators",
                 "@babel/plugin-transform-modules-commonjs"]
    }
  }
}

