<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MF.js</a>
    </div>
    <ul class="nav navbar-nav pull-right nav-pills">
      <li><a href="/archive.html">Blog</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1>Embedding Effects in JavaScript</h1>
    <p>
      New arbitrary side effects embedded directly into JavaScript
      using Monad interface. The effects are loaded as runtime
      libraries, only one compiler is required for anything.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://github.com/awto/mfjs-compiler" role="button">
        On GitHub »
      </a>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Asynchronous programming</h2>
      <p>An adapter over promises interface for direct style asynchronous programming</p>
      <a class="btn btn-default"
         href="https://github.com/awto/mfjs-promise"
         role="button">View details »</a>
    </div>
    <div class="col-md-4">
      <h2>Reactive programming</h2>
      <p>Tiny Rx Observable adapter for turning JavaScipt into reactive programming language</p>
      <a class="btn btn-default"
         href="https://github.com/awto/mfjs-rx"
         role="button">View details »</a>
    </div>
    <div class="col-md-4">
      <h2>Delimited continuations</h2>
      <p>Multi-prompt delimited continuations in JavaScript</p>
      <a class="btn btn-default"
         href="https://github.com/awto/mfjs-cc"
         role="button">View details »</a>
    </div>
    <div class="col-md-4">
      <h2>Logic programming</h2>
      <p>Using JavaScript as logical programming language, like Prolog</p>
      <a class="btn btn-default"
         href="https://github.com/awto/mfjs-logic"
         role="button">View details »</a>
    </div>
  </div>
  
</div>
