<div class="jumbotron">
  <div class="container">
    <h1>Embedding Effects in JavaScript</h1>
    <p>
      <strong>JavaScript</strong> language keeps extending with new side effects.
      The recent ones are <strong>Generators</strong> and <strong>Async</strong>
      functions. But there is a problem. It is impossible to add another useful
      side effect without changin the language.... <a class="btn btn-link" href="posts/abstract-matters.html" role="button">Read more</a>
      <br/><br/>
      This transpiler offers unlimited <strong>JavaScript</strong> extensions with
      new <strong>Monad</strong> interface compatible side effects loaded
      as a runtime library, not even as compiler plugin. There are a few
      <strong>Monads</strong> already implemented and usable for many practical
      applications.
      <br/><br/>
      Generated code is human readable and executable for most
      <strong>JavaScript</strong> engines including browsers. The tool translates
      ES5 to ES5. So it may embed arbitrary new side effects into other languages
      with compiler targeting JavaScript, like Babel, CoffeeScript, TypeScript, etc.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://github.com/awto/effectfuljs" role="button">
        On GitHub »
      </a>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Asynchronous programming</h2>
      <p>
        An adapter over <strong>Promises</strong> interface for direct style
        asynchronous programming. It may be a replacement for <strong>Async</strong>
        functions from ES7, but optionally offering implicit syntax.</p>
      <a class="btn btn-default"
         href="https://github.com/awto/mfjs-promise"
         role="button">View details »</a>
    </div>
    <div class="col-md-6">
      <h2>Reactive programming</h2>
      <p>A tiny <strong>Rx Observable</strong> adapter for turning JavaScipt into
        <strong>reactive</strong> programming language</p>
      <a class="btn btn-default"
         href="https://github.com/awto/mfjs-rx"
         role="button">View details »</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Delimited continuations</h2>
      <p>Multi-prompt delimited continuations in JavaScript.
        A generalization of <strong>Generator</strong> functions
        with optional implicit syntax, ability to resume computation from
        a single point more than a few times.
        It is a mother of all <strong>Monads</strong>. Any other side
        effect may be implemented using this one.</p>
      <a class="btn btn-default"
        b href="https://github.com/awto/mfjs-cc"
         role="button">View details »</a>
    </div>
    <div class="col-md-6">
      <h2>Logic programming</h2>
      <p>Using JavaScript as logical programming language, like <strong>Prolog</strong>.</p>
      <a class="btn btn-default"
         href="https://github.com/awto/mfjs-logic"
         role="button">View details »</a>
    </div>
    
  </div>
</div>
